<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Vue Inventory Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="./overrides.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app" class="container">
    <v-app dark>
        <v-content>
            <h1>Inventory</h1>
            <v-list>
                <div v-if="displayOnlyFavorites">
                    <line-item v-for="item in filteredItems" v-bind:item="item"
                               v-bind:nameOfItemToEdit="nameOfItemToEdit"
                               v-on:remove="items.splice(index, 1)"></line-item>
                    <h3>
                        Your are currently only Looking at Favorites,
                        any added items will not display until viewing all items.
                    </h3>
                </div>
                <div v-else>
                    <line-item v-for="item in items" v-bind:item="item" v-on:remove="items.splice(index, 1)">
                    </line-item>
                </div>
            </v-list>
            <div v-if="nameOfItemToEdit === ' '">
                <h3>
                    Add new items here:
                </h3>
                <v-text-field outline v-model="tempName" label="Item Name"></v-text-field>
                <v-text-field outline v-model="tempQuantity" label="How many?"></v-text-field>
                <v-btn color="success" v-on:click="addItem()" type="v-btn">Add your new item!</v-btn>
            </div>
            <div v-if="nameOfItemToEdit != ' '">
                <p>
                    You are now editing: {{nameOfItemToEdit}}
                </p>
                <v-text-field outline v-model="nameToChangeItTo" label="New Name"><</v-text-field>
                <v-text-field outline v-model="quantityToChangeItTo" label="How many?"></v-text-field>
                <v-btn color="warning" v-on:click="editItem">Change it</v-btn>
                <v-btn color="error" v-on:click="cancelEdits">Stop Editing</v-btn>
            </div>
            <v-checkbox id="toggleFavorites" v-model="displayOnlyFavorites"
                        label="Only Display Your Favorites">

            </v-checkbox>
        </v-content>
    </v-app>
</div>


<!-- Vue Application -->
<script src="./vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="./app.js"></script>
</body>
</html>