<html lang="en">
<head>
    <title>Vue Inventory Application</title>

</head>
<body>
<div id="app">

    <ul>
        <div v-if="displayOnlyFavorites">
            <line-item v-for="item in filteredItems" v-bind:item="item"
                       v-on:remove="items.splice(index, 1)"></line-item>
        </div>
        <div v-else>
            <line-item v-for="item in items" v-bind:item="item" v-on:remove="items.splice(index, 1)">
            </line-item>
        </div>
    </ul>
    <h3>
        Add new items here:
    </h3>
    <input v-model="tempName" placeholder="Item Name">
    <input v-model="tempQuantity" placeholder="How many?">
    <button v-on:click="addItem()" type="button">Add your new item!</button>
    <label for="toggleFavorites">Display Only Favorites</label>
    <input type="checkbox" id="toggleFavorites" v-model="displayOnlyFavorites">
</div>

<!-- Vue Application -->
<script src="./vue.js"></script>
<script src="./app.js"></script>
</body>
</html>